.idea/
*.swp
*.class
*.log
target/
.DS_Store
.history
.cache
.cache-main
.scala_dependencies
result
.env
.bsp/
credentials.json
env.sh
.bloop
.metals
.vscode
src/main/resources/local/personal.conf
src/main/resources/secrets.conf
